<footer class="w-full bg-transparent">
    <div class="footer_container w-full">
        <div class="w-11/12 bg-transparent mx-auto px-4">
            <div class="inner_container1 flex flex-row md:flex-row justify-between">
                <div class="if1 w-full md:w-2/6">
                    <p class="brand_logo">
                        {{brandLogo}}
                    </p>
                </div>
                <div class="if3 w-full md:w-2/6">
                    <div class="topBtn">
                        <a href="#" aria-label="Back to top">
                            <span>Back To Top</span>
                            <span>
                                <svg width="52px" height="52px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                                    <g id="SVGRepo_iconCarrier"> 
                                        <path d="M17 15L12 10L7 15" stroke="#ffffff" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/> 
                                    </g>    
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="inner_container2 flex flex-col-reverse md:flex-row">
                <div class="if1 md:w-[50%] w-full">
                    <p>© 2023 {{brandLogo}}. All Rights Reserved</p>
                </div>
                <div class="if2 md:w-[50%] w-full">
                    <div class="inner_box">
                        <a href="#" aria-label="Terms & Conditions">Terms & Conditions</a>
                        <span> | </span>
                        <a href="#" aria-label="Privacy Policy">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>