.video_container {
    @apply relative w-full py-10;
    .inner_container {
        @apply relative;
        .layer1 {
            @apply w-full absolute top-0 left-0 h-[500px] transform blur-2xl z-0;
            span {
                @apply inline-block w-[250px] h-[250px] rounded-full transition-all duration-500;
            }
            span:nth-child(1) {
                @apply absolute left-[50%] top-[30%] translate-x-[-50%] translate-y-[-30%] w-[150px] h-[150px] bg-emerald-500;
                animation-name: b1; /* Name of the animation defined in animation.css */
                animation-duration: 7s; /* Duration of the animation */
                animation-timing-function: ease-in-out; /* Timing function for the animation */
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            span:nth-child(2) {
                @apply absolute left-[30%] top-[30%] translate-x-[-30%] translate-y-[-30%] w-[20px] h-[20px] bg-red-300;
                animation-name: b2; /* Name of the animation defined in animation.css */
                animation-duration: 12s; /* Duration of the animation */
                animation-timing-function: ease-in-out; /* Timing function for the animation */
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            span:nth-child(3) {
                @apply absolute left-[90%] top-[90%] translate-x-[-90%] translate-y-[-90%] w-[400px] h-[400px] bg-slate-500;
                animation-name: b3; /* Name of the animation defined in animation.css */
                animation-duration: 12s; /* Duration of the animation */
                animation-timing-function: ease-in-out; /* Timing function for the animation */
                animation-iteration-count: infinite;
                animation-direction: alternate;
            }
            @keyframes b1 {
                0% {
                    @apply left-[50%] top-[30%] w-[150px] h-[150px];
                }
                20% {
                    @apply left-[40%] top-[40%] w-[250px] h-[250px];
                }
                40% {
                    @apply left-[60%] top-[60%] w-[250px] h-[250px];
                }
                60% {
                    @apply left-[50%] top-[80%] w-[250px] h-[250px];
                }
                80% {
                    @apply left-[80%] top-[20%] w-[150px] h-[150px];
                }
                100% {
                    @apply left-[50%] top-[30%] w-[150px] h-[150px];
                }
            }
            @keyframes b2 {
                0% {
                    @apply left-[30%] top-[30%] w-[20px] h-[20px];
                }
                20% {
                    @apply left-[40%] top-[40%] w-[40px] h-[40px];
                }
                40% {
                    @apply left-[50%] top-[50%] w-[50px] h-[50px];
                }
                60% {
                    @apply left-[80%] top-[60%] w-[60px] h-[60px];
                }
                70% {
                    @apply left-[50%] top-[50%] w-[50px] h-[50px];
                }
                80% {
                    @apply left-[40%] top-[40%] w-[40px] h-[40px];
                }
                90% {
                    @apply left-[30%] top-[30%] w-[30px] h-[30px];
                }
                100% {
                    @apply left-[30%] top-[30%] w-[20px] h-[20px];
                }
            }
            @keyframes b3 {
                0% {
                    @apply left-[90%] top-[90%] w-[400px] h-[400px];
                }
                50% {
                    @apply left-[10%] top-[50%] w-[200px] h-[200px];
                }
                100% {
                    @apply left-[90%] top-[90%] w-[400px] h-[400px];
                }
            }
        }
        .layer2 {
            @apply relative z-10;
            .row-1 {
                .title_container {
                    @apply w-full flex flex-col justify-center items-center;
                    h2 {
                        @apply w-full py-4 font-Playfair text-4xl text-white font-bold text-center;
                    }
                    p {
                        @apply w-[300px] text-sm text-white text-center;
                    }
                }
            }
            .row-2 {
                @apply flex flex-col justify-center items-center;
                iframe {
                    @apply w-[100%] md:w-[80%] mt-4 h-[500px];
                }
            }
        }
    }
}