<section class="video_container">
    <div class="inner_container">
         <div class="layer1">
           <span class="b1"></span>
           <span class="b2"></span>
           <span class="b3"></span>
         </div>
         <div class="layer2">
            <div class="row-1">
                <div class="title_container">
                    <h2>{{title}}</h2>
                    <p>We believe that blockchain has the potential to revolutionize the way that businesses.</p>
                </div>
            </div>
            <div class="row-2">
                 <!-- <iframe width="560" height="315" src="{{videoUrl}}" frameborder="0" allowfullscreen></iframe> -->
                 <iframe src="https://player.vimeo.com/video/391434825?muted=1&autoplay=1&autopause=0&controls=0&loop=1&app_id=122963" 
                 title="" frameborder="0" 
                 allow="autoplay; fullscreen; picture-in-picture;" allowfullscreen></iframe>
                 <script src="https://player.vimeo.com/api/player.js"></script>
            </div>
         </div>
    </div>
</section>